<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Notes</title>
   <script src="../src/note-model.js"></script>
   <script src="../src/note-list-model.js"></script>
   <script src="../src/note-list-view-model.js"></script>
   <script src="../src/note-controller.js"></script>
</head>
<body>
  <h1>KiwiNotes</h1>
  <textarea id='textarea'></textarea>
  <button id='saveButton'>Save</button>
   <h2>Your list of notes</h2>
     <div id="list">
     </div>
    <script>

    (function addNote(){
      document
        .getElementById('saveButton')
        .addEventListener('click', function(clickEvent){
          clickEvent.preventDefault();
          List.createNote(document.getElementById('textarea').value);
          View.noteList();
        });
    })();
    </script>
  </body>
</html>

 <!-- onload= 'createNote();' -->
 <!-- document.getElementById("myTextarea").value = "Fifth Avenue, New York City"; -->
