<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../stylesheets/stylesheet.css">
  <title>Notes</title>
  <script src="../src/note-list-model.js"></script>
<script src="../src/note-model.js"></script>
</head>
<body>
  <h1>Notepad</h1>
  <div>
    <textarea></textarea>
  </div>
  <button>Submit</button>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <script src="../src/note-list-view-model.js"></script>
  <!-- <script> View.HTMLstring() </script> -->
</body>
</html>
