body, html{
  height: 100%;
  box-sizing: border-box;
  display: block;
}
body {
  margin: auto;
  margin-top: 60px;
  width: 500px;
}
.app {
  background-color: #DDDDDD;
  height: auto;
  text-align: center;
}
#textarea {
  width: 450px;
  height: 100px;
}
.note {
  margin: 1em 3em;
	color: #999;
	border: 2px solid #999;
}
